<% provide(:title, 'Messages') %>

<h1>My messages</h1>

<p class="coach_name">You have <%= pluralize current_coach.messages.count, "message" %>. </p>
<ul>
  <% @messages.each do |message| %>
    <li>
      <div><span  class="message_title"><%= message.title %></span>  &nbsp;&nbsp;&nbsp;&nbsp;
  	  <span class="timestamp">Sent by <%= link_to Student.find_by(id:message.student_id).name, 						student_path(Student.find_by(id:message.student_id)) %>
	  <%= time_ago_in_words(message.created_at) %> ago.
	  </span>
	  </div>
      <div class="content"><%= message.content %></div>
	  
  	  
    </li>
  <% end %>
</ul>

