<% provide(:title, 'Student') %>

show student page. will include student info and group registered <br>

<%= @student.name %>, <%= @student.email %>
<br>
<% if @enrollments.any? %>
	<% @enrollments.each do |enrollment| %>
		<% @group = Group.find_by(id:enrollment.group_id) %>
		<%= link_to @group.name, group_path(@group) %>
		<br>
	<% end %>
<% end %>
<br><br><br>
<%= form_tag search_groups_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query] %> 
  <%= submit_tag "Search!" %>
</p>
<% end %>