<% provide(:title, 'Group') %>

<h1>Update group information</h1>

<div>
  <div>
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
      <%= f.label :schedule %>
      <%= f.text_field :schedule %>

	  

      <%= f.submit "Save changes" %>
    <% end %>

    
  </div>
</div>