<% provide(:title, 'Group') %>
<div class="groups">

<div class="coach_name"><%= link_to @group.coach.name, coach_path(@group.coach) %>
<br><br>

<%= @group.name %> &nbsp;&nbsp;&nbsp;&nbsp;<span id="star"></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span>
	<% if coach_signed_in? %>
		<% if current_coach.id == @group.coach_id %>
			<%= link_to "edit", edit_group_path(@group)%>
			
		<% end %>
	<% end %>
</span>
</div>
<div><%= @group.description %></div>
<div class="group_location"><%= @group.location %> <br>
<%= @group.schedule %> </div>
<% if student_signed_in? %>
	<% if current_student.enrolling?(@group) %>
		<%= render "drop" %>
	<% else %>
		<%= render "register" %>
	<% end %>
<% end %>

</div>
<div class="student_count">
	<%= pluralize @group.enrollments.count, "student" %> 
	<div class="group_email_button">
		<% if @group.enrollments.any? %>
		<% if coach_signed_in? %>
			<% if current_coach.id == @group.coach.id %>
				<%= link_to "Send group emails", new_email_path, class: "btn btn-primary btn-lg" %>
			<% end %>
		<% end %>
	<% end %>
	</div>
	<div>
    <% if @group.enrollments.any? %>
		<% @group.enrollments.each do |enrollment| %>
	        <li class="student">
			<%= link_to Student.find_by(id:enrollment.student_id).name,
				 student_path(Student.find_by(id:enrollment.student_id))%>
			<% if coach_signed_in? %>
				<% if current_coach.id == @group.coach.id %>
			    	<%= link_to "Unenroll", enrollment, class: "btn btn-primary btn-lg", method: :delete,
			                                   data: { confirm: "You sure?" } %>
					
				<% end %>
			<% end %>
	        </li>      
		<% end %>      
    <% end %>
	</div>
</div>






<br><br>	

<br>




					
<div id="star"></div>
<div>
<% if student_signed_in? %>
	<% if current_student.enrolling?(@group) %>
		<p>Your rating:  </p>
		<span id="user_star"></span>
		<script>
	    $('#user_star').raty({
	      score: <%= @rating.score %>,
	      path: '/assets',
	      click: function(score, evt) {
	        $.ajax({
	          url: '/ratings/' + <%= @rating.id %>,
	          type: 'PATCH',
	          data: { score: score }
	        });
	      }
	    });
		</script>
	<% end %>
<% end %>
</div>
<div class="posts">
<% if student_signed_in? %>
	<% if current_student.enrolling?(@group) %>
		<%= render "shared/post_form" %>
	<% end %>
<% end %>
<% if coach_signed_in? %>
	<% if current_coach.id == @group.coach.id %>
		<%= render "shared/post_form" %>
	<% end %>
<% end %>
</div>
<div>
    <% if @group.posts.any? %>
        <%= render @posts %>
      <%= will_paginate @posts %>
    <% end %>
</div>
<script>
  $('#star').raty({
    readOnly: true,
    score: <%= @group.average_rating %>,
    path: '/assets'
  });
</script>
