<% provide(:title, 'Group') %>

show group page. will include group info and group messages <br>

<%= @group.name %>, <%= @group.description %>

<% if coach_signed_in? %>
	<% if current_coach.id == @group.coach_id %>
		<%= link_to "edit", edit_group_path(@group)%>
		<br><br><br><br><br><br>
		<%= link_to "delete", @group, method: :delete,
                                  data: { confirm: "You sure?" } %>
	<% end %>
<% end %>


<% if student_signed_in? %>
	<% if current_student.enrolling?(@group) %>
		<%= render "drop" %>
	<% else %>
		<%= render "register" %>
	<% end %>
<% end %>

<br>

<% if student_signed_in? %>
	<% if current_student.enrolling?(@group) %>
		<%= render "shared/post_form" %>
	<% end %>
<% end %>
<% if coach_signed_in? %>
	<% if current_coach.id == @group.coach.id %>
		<%= render "shared/post_form" %>
	<% end %>
<% end %>

<br><br>	
<div>
	<%= @group.enrollments.count %> student in this group.
    <% if @group.enrollments.any? %>
		<% @group.enrollments.each do |enrollment| %>
	        <li class="student">
			<%= link_to Student.find_by(id:enrollment.student_id).name,
				 student_path(Student.find_by(id:enrollment.student_id))%>
			<% if coach_signed_in? %>
				<% if current_coach.id == @group.coach.id %>
			    	<%= link_to "Unenroll", enrollment, method: :delete,
			                                   data: { confirm: "You sure?" } %>
					
				<% end %>
			<% end %>
	        </li>      
		<% end %>      
    <% end %>
</div>
<br>

<div>
    <% if @group.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
</div>
					

