<% provide(:title, 'Coach') %>

<h1>Update your profile</h1>

<div>
  <div>
    <%= form_for @coach, :html => { :multipart => true }  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
	  
      <%= f.label :subject %>
      <%= f.text_field :subject %>
	  
      <%= f.label :location %>
      <%= f.text_field :location %>
	  
      <%= f.label :self_introduction %>
      <%= f.text_field :self_introduction %>
	  
      <%= f.label :course_introduction %>
      <%= f.text_field :course_introduction %>
	  
	  <%= f.label :photo %>
	  <%= f.file_field :photo %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes" %>
    <% end %>

    
  </div>
</div>
