
<% provide(:title, 'Coach') %>



<div>
	<%= @coach.name %>, <%= @coach.email %>, <%= @coach.subject %>, 
	<%= @coach.location %>, <%= @coach.self_introduction %>, <%= @coach.course_introduction %>
	<%= image_tag @coach.photo.url(:small) %>
	<div class = "span6">
		<% if @coach.groups.any? %>
		    <div class="groups">
		      <%= render @groups %>
		    </div>
		<% end %>
	</div>
	<% if current_coach?(@coach) %>
		<br><br><br><br>
		<span><%= link_to "Start New Group", new_group_path %></span>
	<% end %>
</div>

<div>
	<% if student_signed_in? %>
        <p><%= link_to "Send a message to me!", new_message_path, class: "btn btn-primary btn-lg" %>
	<% end %>

</div>