<header>
  <div>
    <div>
      <%= link_to "coach network", root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Coaches", coaches_path %></li>
            <li>
              <a href="#">
                Account <b></b>
              </a>
              <ul>
				<% if coach_signed_in? %>
                	<li><%= link_to "Profile", current_coach %></li>
                	<li><%= link_to "Settings", edit_coach_path(current_coach) %></li>
                <% elsif student_signed_in? %>
                	<li><%= link_to "Profile", current_student %></li>
                	<li><%= link_to "Settings", '#' %></li>
				<% end %>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>